In [7]:
import pandas as pd

In [8]:
df = pd.read_csv('adult/adult.data', header=None, names=['age', 'workClass', 'number', 'educationalDegrees', 'educationNum', 'maritalStatus', 'occupation', 'relationship', 'race', 'gender', 'capitalGain', 'capitalLoss', 'hoursPerWeek', 'nativeCountry', 'income'])
df.head()

,age,workClass,number,educationalDegrees,educationNum,maritalStatus,occupation,relationship,race,gender,capitalGain,capitalLoss,hoursPerWeek,nativeCountry,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [9]:
print(f"Number of columns: {len(df.columns)}")

Number of columns: 15

In [12]:
missingValues = df.isnull().sum()
if missingValues.any():
    print("\nColumns with gaps:")
    for column in missingValues.index:
        if missingValues[column] > 0:
            print(column)
else:
    print("\nThere are no gaps in the data.")

There are no gaps in the data.

In [13]:
uniqueRaces = df['race'].nunique()
print("The number of unique values in the column 'race':", uniqueRaces)

The number of unique values in the column 'race': 5

In [14]:
print(f"Median `hoursPerWeek`: {df['hoursPerWeek'].median()}")

Median `hoursPerWeek`: 40.0

In [15]:
highIncome = df[df['income'] == '>50K']
menCount = highIncome[highIncome['gender'] == 'Male'].shape[0]
womenCount = highIncome[highIncome['gender'] == 'Female'].shape[0]
if menCount > womenCount:
    print("More men with income >50K")
elif womenCount > menCount:
    print("More women with income >50K")
else:
    print("Men and women with income >50K have the same number.")

Men and women with income >50K have the same number.

In [20]:
columns = ['educationalDegrees', 'maritalStatus', 'nativeCountry']
for col in columns:
    mostСommon = df[col].mode()[0]
    df.replace({col: ' ?'}, mostСommon, inplace=True) 
print(df[['educationalDegrees', 'maritalStatus', 'nativeCountry']])  
#пропущенные данные можно было заполнить предыдущим или последующим значением в столбце

      educationalDegrees        maritalStatus   nativeCountry
0              Bachelors        Never-married   United-States
1              Bachelors   Married-civ-spouse   United-States
2                HS-grad             Divorced   United-States
3                   11th   Married-civ-spouse   United-States
4              Bachelors   Married-civ-spouse            Cuba
...                  ...                  ...             ...
32556         Assoc-acdm   Married-civ-spouse   United-States
32557            HS-grad   Married-civ-spouse   United-States
32558            HS-grad              Widowed   United-States
32559            HS-grad        Never-married   United-States
32560            HS-grad   Married-civ-spouse   United-States

[32561 rows x 3 columns]