In [33]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, r2_score
from sklearn.impute import SimpleImputer
from sklearn.feature_selection import mutual_info_classif
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics import accuracy_score
import pickle

In [34]:
data = pd.read_csv('bank-full.csv', sep=';') 
data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [35]:
# Выбираем нужные признаки
selected_features = ['age', 'job', 'marital', 'education', 'balance', 'housing', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays', 'previous', 'poutcome', 'y']
data = data[selected_features]
print(data.head())

   age           job  marital  education  balance housing  contact  day month  \
0   58    management  married   tertiary     2143     yes  unknown    5   may
1   44    technician   single  secondary       29     yes  unknown    5   may
2   33  entrepreneur  married  secondary        2     yes  unknown    5   may
3   47   blue-collar  married    unknown     1506     yes  unknown    5   may
4   33       unknown   single    unknown        1      no  unknown    5   may

   duration  campaign  pdays  previous poutcome   y
0       261         1     -1         0  unknown  no
1       151         1     -1         0  unknown  no
2        76         1     -1         0  unknown  no
3        92         1     -1         0  unknown  no
4       198         1     -1         0  unknown  no

In [36]:
# Проверяем наличие пропущенных значений
print(data.isnull().sum())

age          0
job          0
marital      0
education    0
balance      0
housing      0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

In [37]:
# Находим самое частое значение
education_column = data['education']
mode_value = education_column.mode()[0]
print(f"Самое частое значение в столбце 'education': {mode_value}")

Самое частое значение в столбце 'education': secondary

In [38]:
selected_features = ['age', 'balance', 'day', 'duration', 'campaign', 'pdays', 'previous']
data = data[selected_features]
# Создаем корреляционную матрицу
correlation_matrix = data.corr()
print(correlation_matrix)

# Найдём пару признаков с наибольшей корреляцией
max_correlation = 0
correlated_features = ('', '')
for i in range(len(correlation_matrix.columns)):
    for j in range(i + 1, len(correlation_matrix.columns)):
        correlation = abs(correlation_matrix.iloc[i, j])  # берем модуль
        if correlation > max_correlation:
            max_correlation = correlation
            correlated_features = (correlation_matrix.columns[i], correlation_matrix.columns[j])

print(f"Наибольшая корреляция: {max_correlation} между {correlated_features[0]} и {correlated_features[1]}")

               age   balance       day  duration  campaign     pdays  previous
age       1.000000  0.097783 -0.009120 -0.004648  0.004760 -0.023758  0.001288
balance   0.097783  1.000000  0.004503  0.021560 -0.014578  0.003435  0.016674
day      -0.009120  0.004503  1.000000 -0.030206  0.162490 -0.093044 -0.051710
duration -0.004648  0.021560 -0.030206  1.000000 -0.084570 -0.001565  0.001203
campaign  0.004760 -0.014578  0.162490 -0.084570  1.000000 -0.088628 -0.032855
pdays    -0.023758  0.003435 -0.093044 -0.001565 -0.088628  1.000000  0.454820
previous  0.001288  0.016674 -0.051710  0.001203 -0.032855  0.454820  1.000000
Наибольшая корреляция: 0.4548196354805043 между pdays и previous

In [39]:
data = pd.read_csv('bank-full.csv', sep=';')

selected_features = ['age', 'job', 'marital', 'education', 'balance', 'housing', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays', 'previous', 'poutcome', 'y']
data = data[selected_features]

# Заменяем 'yes' на 1 и 'no' на 0 в столбце 'y'
data['y'] = data['y'].map({'yes': 1, 'no': 0})
print(data.head())

   age           job  marital  education  balance housing  contact  day month  \
0   58    management  married   tertiary     2143     yes  unknown    5   may
1   44    technician   single  secondary       29     yes  unknown    5   may
2   33  entrepreneur  married  secondary        2     yes  unknown    5   may
3   47   blue-collar  married    unknown     1506     yes  unknown    5   may
4   33       unknown   single    unknown        1      no  unknown    5   may

   duration  campaign  pdays  previous poutcome  y
0       261         1     -1         0  unknown  0
1       151         1     -1         0  unknown  0
2        76         1     -1         0  unknown  0
3        92         1     -1         0  unknown  0
4       198         1     -1         0  unknown  0

In [40]:
label_encoder = LabelEncoder()
for column in data.select_dtypes(include=['object']):
    data[column] = label_encoder.fit_transform(data[column])

selected_features = ['job', 'marital', 'education', 'housing', 'contact', 'month', 'poutcome']
X = data[selected_features]

y = data['y']

# Разделяем данные на тренировочный, валидационный и тестовый наборы
X_train, X_temp, y_train, y_temp = train_test_split(X, y, test_size=0.4, random_state=42) 
X_val, X_test, y_val, y_test = train_test_split(X_temp, y_temp, test_size=0.5, random_state=42)

print(f"Тренировочный набор: {X_train.shape}, {y_train.shape}")
print(f"Валидационный набор: {X_val.shape}, {y_val.shape}")
print(f"Тестовый набор: {X_test.shape}, {y_test.shape}")

mutual_info = mutual_info_classif(X_train, y_train, discrete_features=True)

mutual_info_df = pd.DataFrame(mutual_info, index=X_train.columns, columns=['Mutual Information'])
mutual_info_df['Mutual Information'] = mutual_info_df['Mutual Information'].round(2)
print(mutual_info_df)

# Находим переменную с наибольшей взаимной информацией
max_mutual_info_index = mutual_info_df['Mutual Information'].idxmax()
print(f"\nПеременная с наибольшей взаимной информацией: {max_mutual_info_index}")

Тренировочный набор: (27126, 7), (27126,)
Валидационный набор: (9042, 7), (9042,)
Тестовый набор: (9043, 7), (9043,)
           Mutual Information
job                      0.01
marital                  0.00
education                0.00
housing                  0.01
contact                  0.01
month                    0.02
poutcome                 0.03

Переменная с наибольшей взаимной информацией: poutcome

In [42]:
ohe = OneHotEncoder(handle_unknown='ignore') 
X_train = ohe.fit_transform(X_train)
X_val = ohe.transform(X_val)

model = LogisticRegression(solver='liblinear', C=1.0, max_iter=1000, random_state=42)
model.fit(X_train, y_train)

y_pred = model.predict(X_val)

# Рассчитываем точность
accuracy = accuracy_score(y_val, y_pred)
print(f"Точность на валидационном наборе: {accuracy:.2f}")

Точность на валидационном наборе: 0.89

In [45]:
label_encoder = LabelEncoder()
for column in data.select_dtypes(include=['object']):
    data[column] = label_encoder.fit_transform(data[column])

selected_features = ['job', 'marital', 'education', 'housing', 'contact', 'month', 'poutcome', 'age', 'balance', 'previous', 'duration', 'pdays', 'campaign']
X = data[selected_features]

y = data['y']

X_train, X_temp, y_train, y_temp = train_test_split(X, y, test_size=0.4, random_state=42) 
X_val, X_test, y_val, y_test = train_test_split(X_temp, y_temp, test_size=0.5, random_state=42)
categorical_cols = X.select_dtypes(include=['object']).columns

encoder = OneHotEncoder(sparse_output=False, drop='first')
X_encoded = encoder.fit_transform(X[categorical_cols])

feature_names = encoder.get_feature_names_out(categorical_cols)

X_train_df = pd.DataFrame(X_encoded, columns=feature_names)

numeric_cols = X.select_dtypes(include=['number']).columns

X_train_df = pd.concat([X_train_df, X[numeric_cols].reset_index(drop=True)], axis=1)

X_train, X_test, y_train, y_test = train_test_split(X_train_df, y, test_size=0.2, random_state=42)

mutual_info = mutual_info_classif(X_train, y_train)

mutual_info_df = pd.DataFrame(mutual_info, index=X_train.columns, columns=['Mutual Info']).sort_values(by='Mutual Info', ascending=False)

print(mutual_info_df.head())

          Mutual Info
duration     0.070204
poutcome     0.035164
pdays        0.027057
month        0.024059
balance      0.019416

In [46]:
C_values = [0.01, 0.1, 1, 10]
best_accuracy = 0
best_C = None

for C in C_values:
    model = LogisticRegression(solver='liblinear', C=C, max_iter=1000, random_state=42)
    model.fit(X_train, y_train)

    y_pred = model.predict(X_val)

    accuracy = accuracy_score(y_val, y_pred)
    print(f"Точность для C = {C}: {accuracy:.3f}")

    if accuracy > best_accuracy:
        best_accuracy = accuracy
        best_C = C

print(f"\nНаилучшая точность: {best_accuracy:.3f} (C = {best_C})")

Точность для C = 0.01: 0.890
Точность для C = 0.1: 0.891
Точность для C = 1: 0.890
Точность для C = 10: 0.891

Наилучшая точность: 0.891 (C = 0.1)